body {

    background-color: #141414;
    font-family: 'Montserrat', sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}



footer {
    display: flex;
    padding: 10px 0;
    background-color: #2b2b2b;
    justify-content: space-around;
    color: white;

    position: absolute;

    width: 100%;
    bottom: 0;




}

footer ul {
    display: flex;
    gap: 30px
}




.header2 {
    display: flex;
    padding: 10px 10%;
    background-color: white;
    justify-content: center;
}

li,
a,
.logo {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%;
    text-align: center;
    background: #2b2b2b;
}

header .logo {
    font-size: 32px;
}


nav {
    width: 300px;
}

.logo {
    cursor: pointer;
    font-weight: 700;

}

.navlinks {

    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;




}

.mainTitle {
    color: white;
    padding-left: 10%;
    padding-top: 5%;

    font-size: 64px;
    font-weight: 700;



}

.welcome {

    position: fixed;
    left: 0;

    height: 100vh;
    width: 70%;




}

.right .container .glance {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 42px;
}

.right .container {
    padding-top: 2vw;
    font-size: 30px;
}



.right .title {
    font-weight: 500;
}

.right .buttonContinue {
    font-size: 16px;
    padding-top: 25px;
}



.right {
    height: 100vh;
    width: 30%;

    padding-right: 20px;

    color: white;

    right: 0;
    position: fixed;
    border-left: 1px solid white;
    padding-left: 55px;


}


.welcome .actionList ul h1 {


    color: white;
    font-size: 20px;

    padding-left: 10%;
    padding-bottom: 2%;
    font-weight: 100;
    font-size: 24px;



}

.actionList a {

    font-style: oblique;
    color: white;
    padding-left: 10%;
    font-weight: 100;
    font-size: 24px;



}

.actionList ul li {
    padding-top: 1%;
}

.actionList {
    padding-top: 3%;
}

.right .container .buttonContinue a:hover,
.right .container2 .buttonContinue a:hover {
    color: magenta;
}

.welcome .actionList ul a:hover {
    color: magenta;
}



html.dark-mode {
    filter: invert(100%);
}

#switch {
    color: white;
}

thead,
tbody {
    color: white;
}

.tableau {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgb(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid white
}

thead tr {
    background-color: black;
    text-align: left;

}

th,
td {
    padding: 15px 20px;
}

tbody tr,
td,
th {
    border: 1px solid #ddd;

}

.menu b {


    font-size: 2vw;
    font-weight: 700;
    color: white;
    margin: 2vw 2vw;
    display: flex;
}

.menu a {
    margin: 2vw 2vw;
    font-size: 1.25vw;

}

.menu a:hover {
    color: magenta;
    text-decoration: underline;
}

/*  */



.container {
    margin: 2vw 2vw;
    font-size: 1.25vw;
    color: white;
}

.container .title p {
    font-size: 2vw;

    padding-bottom: 0.25vw;
    padding-top: 1.5vw;
    font-weight: 700;

}

.container .title span {
    padding-right: 3vw;


}


.button {
    padding-top: 2vw;

}

.container .txtBox p {
    padding-top: 5%;
}

#txt1 {
    width: 500px
}

.container .button button {

    height: 50px;

}


/* Responsive Petit Ecran */
@media only screen and (max-width: 1500px) {

    .right .container .glance,
    .title,
    .checkup {
        font-size: 2vw;

    }

    header ul li a {
        font-size: 10px;
    }


    /* Responsive Smartphone */
    @media only screen and (max-width: 800px) {


        header ul li a {
            font-size: 8px;
        }

        .header2 {
            display: none;
        }

        .logo {
            display: none;
        }
        
        #switch{
            display:none;

        }

       
    }
}