body {

    background-color: #141414;
    font-family: 'Montserrat', sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    




}


footer {
    display: flex;
    padding: 10px 0;
    background-color: #2b2b2b;
    justify-content: space-around;
    color: white;

    position: absolute;
    bottom: 0;
    width: 100%;




}

footer ul {
    display: flex;
    gap: 30px
}




.header2 {
    display: flex;
    padding: 10px 10%;
    background-color: white;
    justify-content: center;
}

li,
a,
.logo {
    font-size: 13px;
    color: white;
    text-decoration: none;
}

header {


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%;
    text-align: center;
    background: #2b2b2b;
}

header .logo {
    font-size: 32px;
}


nav {
    width: 300px;
}

.logo {
    cursor: pointer;
    font-weight: 700;

}

.navlinks {

    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;



}

.mainTitle {
    color: white;
    padding-left: 10%;
    padding-top: 5%;
    width:90%;
    font-size: 4.25vw;
    font-weight: 700;



}

.welcome {

    position: fixed;
    left: 0;

    height: 100vh;
    width: 70%;




}

.right .container .glance {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 42px;
}

.right .container {
    padding-top: 2vw;
    font-size: 30px;
}



.right .title {
    font-weight: 500;
}

.right .buttonContinue {
    font-size: 16px;
    padding-top: 25px;
}



.right {
    height: 100vh;
    width: 30%;

    padding-right: 20px;

    color: white;

    right: 0;
    position: fixed;
    border-left: 1px solid white;
    padding-left: 55px;


}


.welcome .actionList ul h1 {


    color: white;
    font-size: 20px;

    padding-left: 10%;
    padding-bottom: 2%;
    font-weight: 100;
    font-size: 24px;



}

.actionList a {

    font-style: oblique;
    color: white;
    padding-left: 10%;
    font-weight: 100;
    font-size: 24px;



}

.actionList ul li {
    padding-top: 1%;
}

.actionList {
    padding-top: 3%;
}

.right .container .buttonContinue a:hover,
.right .container2 .buttonContinue a:hover {
    color: magenta;
}

.welcome .actionList ul a:hover {
    color: magenta;
}



html.dark-mode {
    filter: invert(100%);
}

#switch {
    color: white;
}

.right .container2 .buttonContinue {
    padding-bottom: 7%;
}

.right .container2 {
    padding-top: 5%;
    font-size: 30px;
}


@media only screen and(max-width: 1000px) {
    body {
        background-color: red;
    }


    .mainTitle {
        color: white;
        padding-left: 2%;
        padding-top: 5%;

        font-size: 40px;
        font-weight: 700;

        width: 100%;

    }


    .logo {
        display: none;
    }




    footer {
        bottom: 0;
        font-size: 10px;
    }

    .welcome {
        height: fit-content;
    }

    .header2 {
        display: none;
    }

    .navlinks {

        color: red;


    }

    .actionList ul li a {
        font-size: 20px;
        padding-left: 2%;

    }

    .welcome .actionList ul h1 {
        font-size: 28px;
        padding-left: 2%;

    }


    .right .container .glance {
        margin-bottom: 25px;
        font-weight: 700;

    }



    .right .container {

        font-size: 12px;
    }

    .right .container2 {
        padding-top: 0%;
        font-size: 12px;
    }



    .right .title {
        font-weight: 500;
    }

    .right .buttonContinue {
        font-size: 16px;
        padding-top: 25px;
    }

    .right {
        height: 100vh;
        width: 100%;

        padding-right: 20px;

        color: white;

        padding-top: 28vh;

        border-left: 0px;
        padding-left: 2%;

        position: relative;



    }

    .actionList {
        padding-bottom: 100px;
    }

    header .logo {
        font-size: 13px;
    }

    header {


        display: flex;
        align-items: center;
        justify-content: center;

        background: #2b2b2b;

    }

    header .navlinks li a {
        font-size: 7px;
        gap: 3px;


    }

    #switch,
    header input {
        display: none;
    }

    header .logo {
        display: none;
    }



    .navlinks {

        list-style: none;
        display: flex;
        gap: 10px;


    }





    .navlinks li a {

        font-size: 8px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    .right .container .glance,
    .title,
    .checkup {
        font-size: 30px;

    }

    header ul li a {
        font-size: 25px;
    }

    .container2 .buttonContinue a,
    .container .buttonContinue a {
        font-size: 10px;


    }

    .container .buttonContinue {
        font-size: 10px;
        padding-bottom: 25px;


    }

    .glance {
        font-size: 200px;
    }

    .checkup ul li {
        font-size: 10px;
    }


}
