ErrorDocument 401 "/errors/error401"
ErrorDocument 404 "/errors/error404"

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]


